<form action="/process_login" method="POST">
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
    Company Name: <input type="text" name="company_name"><br/>
    Email: <input type="text" name="email"><br/>
	Password: <input type="password" name="password"><br/>
    <input type="submit" value="Login">
  </div>
</div>
</form>