<form action="register" method="POST">
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Register</h5>
    Email: <input type="text" name="email"><br/>
	Password: <input type="password" name="password"><br/>
    <input type="submit" value="Register">
  </div>
</div>
</form>