<form action="/register_new_employee" method="POST">
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Add Employee</h5>
    Email: <input type="text" name="email"><br/>
	Temporary Password: <input type="password" name="password"><br/>
    <input type="submit" value="Add Employee">
  </div>
</div>
</form>