<form action="/change_password" method="POST">
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Change Your Password!</h5>
	New Password: <input type="password" name="newPassword"><br/>
    <input type="submit" value="Change Password" type="button" class="btn btn-info">
  </div>
</div>
</form>