<h1>Checking into <%= @admin %></h1>
<form action="/employee_checking_out" method="POST">
	Email: <input type="text" name="email"><br/>
	Password: <input type="password" name="password"><br/>
	<input type="submit" name="" value="Check Out">
</form>