<form action="/employee_checking_out" method="POST">
<div class="card">
	<div class="card-body">
		<h5 class="card-title">Checking Out of <%= @admin %></h5>
		Email: <input type="text" name="email"><br/>
		Password: <input type="password" name="password"><br/>
		<input type="submit" name="" value="Check Out" type="button" class="btn btn-info">
	</div>
</div>
</form>