<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <img src="imgs/logo.png" alt="Photo Check In Logo" height="3%" width="3%">
  <a class="navbar-brand" href="/">&nbsp&nbsp&nbspPhoto Check In</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <% if !current_user.administrator && !current_user.employee%>
          <li class="nav-item">
            <a class="nav-link" href="/pay_to_sign_up">Pay</a>
          </li>
        <% end %>
        <% if current_user.administrator%>
          <li class="nav-item">
            <a class="nav-link" href="/add_employee">Add New Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/employee_check_in">Check In Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/employee_check_out">Check Out Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/timesheets">Timesheets</a>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sign_up">Sign Up</a>
        </li>
      <% end %>


    </ul>
  </div>
</nav>