<h1> Upload a picture of yourself: </h1>
<form method="POST" action="/photo_post" enctype="multipart/form-data">
	<input type="file" name="picture" accept="image/*" >
	<input type="submit" value="Submit">
</form>