<h1>Enter Password for: <%= @loggedIn %></h1>
<form action="/employee_checking_in" method="POST">
	Password: <input type="password" name="password"><br/>
	<input type="submit" name="" value="Log In"><br/>
</form>