<h1>Enter Password for <%= @email %></h1>
<form action="/password_re_enter" method="POST">
	Password: <input type="password" name="password"><br/>
	<input type="submit" name="" value="Enter" type="button" class="btn btn-info"><br/>
</form>